[Unit]
Description=Internet Evidence Monitor
After=local-fs.target

[Service]
Type=notify
NotifyAccess=all
User=iem
Group=iem
SupplementaryGroups=iem-users
ExecStart=/usr/lib/internet-evidence-monitor/IEM.Service.Linux
Restart=on-failure
RestartSec=5s
StateDirectory=internet-evidence-monitor
StateDirectoryMode=0700
RuntimeDirectory=internet-evidence-monitor
RuntimeDirectoryMode=0750
UMask=0077

[Install]
WantedBy=multi-user.target
